
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headercontainer {
    width: 1400px;
    margin: 0 auto;
}

.nav>li>a {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #000;    
    padding: 0px 10px;
}

.Player{
    height: 250px;
    width:250px;
    background-color:#5F22F9;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius:25px;
    border: 3px solid black;
}

.nav>li {
    border-left: 1px solid #000;
}

.btm-shadow {
    box-shadow: 2px -3px 9px #000;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-weight: 800;
    font-size: 28px;
}

select, input, button, textarea {
    border: 1px solid #000;
    border-radius: 3px;
}

.knop {
    padding: 10px 15px;
    background-color: rgb(15, 228, 210);
    color: white;
    font-weight: 700;
}
div .Player p{
    color: white;
}

.carouselimg1 {
    background-image: url('../public/images/lol.png')
}

.carouselimg2 {
    background-image: url('../public/images/mariokart.png')
}

.carouselimg3 {
    background-image: url('../public/images/rocketleague.png')
}

.carouselimg {
    border-radius: 20px;
    width: 100%;
    height: 720px;
}
div .Player h2{
    color: white;
    font-size:25px;
    font-weight:bold;
}
.Tabellen{
    font-size: 28px;
    color: black;
}